body {
  text-align: center;
  background: #f2f6f8;
}

.img {
  position: absolute;
  z-index: 1;
}

#container {
  display: inline-block;
  width: 850px;
  height: 778px;
  margin: 0 auto;
  background: black;
  position: relative;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 50px #333
}

#canvas {
  pointer-events: none;
  position: relative;
  z-index: 20;
}